$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 950px
);
$phone:'phone';
$tablet:'tablet';
$desktop:'desktop';

@mixin bp($name) {
  @if not map-has-key($breakpoints, $name) {
      @warn "Invalid breakpoint `#{$name}`.";
  } @else {
      @if map-get($breakpoints, $name) {
          @media (min-width: map-get($breakpoints, $name)) {
              @content;
          }
      } @else {
          @content;
      }
  }
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
  }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }
  }
}