// colors of website. from 
// https://www.fabrizioduroni.it/2020/05/20/dark-mode-css-sass-scss/

// Usage:
// @include theme('property', $color from this doc);

$dark-theme:  "dark-theme";
$light-theme: "light-theme";

$color1:       "color1";
$color2:       "color2";
$color3:       "color3";
$text1:        "text1";
$text2:        "text2";
$text3:        "text3";
$background1:  "background1";
$background2:  "background2";
$background3:  "background3";

$themes:( 
  $light-theme:(
    $color1:       #8865ac,
    $color2:       #f5b320,
    $color3:       #c50a45,
    $text1:        #000505,
    $text2:        #cacaca,
    $text3:        #ffffff,
    $background1:  #ffffff,
    $background2:  #b5b5b5,
    $background3:  #4f4f4f,
  ),
  $dark-theme:( //modify this bc we have darkmode lel
    $color1:       #8865ac,
    $color2:       #f5b320,
    $color3:       #c50a45,
    $text1:        #000505,
    $text2:        #cacaca,
    $text3:        #ffffff,
    $background1:  #ffffff,
    $background2:  #b5b5b5,
    $background3:  #4f4f4f,
    // $color1:       #ba88ed,
    // $color2:       #D79E1D,
    // $color3:       #B90A41,
    // $text1:        #fefcfd,
    // $text2:        #686868,
    // $text3:        #000505,
    // $background1:  #e8e8e8,
    // $background2:  #cccccc,
    // $background3:  #1d1d1d,
  )
);

@mixin themeProperty($theme, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote($additionalProperties + ' ' + map-get($theme, $color));
  } @else {
    #{$property}: unquote(map-get($theme, $color) + ' ' + $additionalProperties);
  }
}

@mixin theme($property, $color, $additionalPropertiesPositionIsFront: false, $additionalProperties: '') {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);
  @include themeProperty($light, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);
  @media (prefers-color-scheme: dark) {
    @include themeProperty($dark, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);
  }
}
