@import-normalize;
.about-page {
    overflow: auto;
    text-align: center;
}
.about-page::before {
    content:"";
    display: inline-block;
    vertical-align: middle;
}
.about-page .text {
    width: 50%;
    margin-right: 15px;
    
    margin-top: 30px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    min-width: 300;
}

.about-page .text .title {
    
    font-size: 36px;
    
    margin-left: 3%;
}

.about-page .text .body {
    margin-left: 5%;
    margin-top: 15px;
}

.about-page .monitor-carousel {
    display: inline-block;
    margin-top: 30px;
    margin-left: 5%;
    height: 500px; 
    width: 500px;
}


.about-page .monitor-carousel .monitor::after {
    content: ' ';
    display: table;
    clear: both;
}

.about-page .monitor-carousel .monitor .board {
    float: left;
    margin-right: -100%;
    height: 500px;
    width: 500px;
}

.about-page .monitor-carousel .monitor .screen {
    float: left;
    margin-right: 13px;
    margin-right: -100%;
    height: 500px;
    width: 500px;
}

.about-page .monitor-carousel .monitor .screen .image {
    margin-left: -2px;
    margin-top: 78px;
    height: 261px;
    width: 465px;
}

.about-page .monitor-carousel .monitor .left {
    float: left;
    margin-top: 369px;
    margin-left: 40px;
    
}

.about-page .monitor-carousel .monitor .left .l-but {
    background-color: #0193A0;
    height: 52px;
    width: 62px;
}
.about-page .monitor-carousel .monitor .right {
    float: left;
    margin-top: 369px;
    background-color: #0193A0;
    
}

.about-page .monitor-carousel .monitor .right .r-but {
    background-color: #0193A0;
    height: 52px;
    width: 62px;
}

.about-page .monitor-carousel .monitor .light-1 {
    float: left;
    margin-top: 354px;
    margin-left: 15px;
    margin-right: -33px;
    height: 80px;
    width: 80px;
}
.about-page .monitor-carousel .monitor .light-2 {
    float: left;
    margin-top: 354px;
    margin-right: -33px;
    height: 80px;
    width: 80px;
}
.about-page .monitor-carousel .monitor .light-3 {
    float: left;
    margin-top: 354px;
    margin-right: -33px;
    height: 80px;
    width: 80px;
}
.about-page .monitor-carousel .monitor .light-4 {
    float: left;
    margin-top: 354px;
    margin-right: -33px;
    height: 80px;
    width: 80px;
}
.about-page .monitor-carousel .monitor .light-5 {
    float: left;
    margin-top: 354px;
    margin-right: 17px;
    height: 80px;
    width: 80px;
}

@media only screen and (max-width: 1145px) {
    .about-page .text {
        width: fill;
        margin-right: 15px;
        margin-top: 30px;
        display: inline-block;
        text-align: left;
        vertical-align: top;
        min-width: 300;
    }
    .about-page .monitor-carousel {
        display: inline-block;
        margin-top: 30px;
        margin-left: 0%;
    }
}

@media only screen and (max-width: 550px) {
    .about-page .monitor-carousel {
        display: inline-block;
        margin-top: 30px;
        height: 300px; 
        width: 300px;
    }
    .about-page .monitor-carousel .monitor {
        height: inherit;
        width: inherit;
    }

    .about-page .monitor-carousel .monitor .board {
        float: left;
        margin-right: -100%;
        height: 300px;
        width: 300px;
    }
    
    .about-page .monitor-carousel .monitor .screen {
        float: left;
        margin-right: 8px;
        margin-right: -100%;
        height: 300px;
        width: 300px;
    }

    .about-page .monitor-carousel .monitor .screen .image {
        margin-left: 0px;
        margin-top: 47px;
        height: 157px;
        width: 279px;
    }
    
    .about-page .monitor-carousel .monitor .left {
        float: left;
        margin-top: 221px;
        margin-left: 24px;
    }
    
    .about-page .monitor-carousel .monitor .left .l-but {
        background-color: #0193A0;
        height: 31px;
        width: 37px;
    }
    .about-page .monitor-carousel .monitor .right {
        float: left;
        margin-top: 221px;
    }
    
    .about-page .monitor-carousel .monitor .right .r-but {
        background-color: #0193A0;
        height: 31px;
        width: 37px;
    }
    
    .about-page .monitor-carousel .monitor .light-1 {
        float: left;
        margin-top: 212px;
        margin-left: 11px;
        margin-right: -20px;
        height: 48px;
        width: 48px;
    }
    .about-page .monitor-carousel .monitor .light-2 {
        float: left;
        margin-top: 212px;
        margin-right: -20px;
        height: 48px;
        width: 48px;
    }
    .about-page .monitor-carousel .monitor .light-3 {
        float: left;
        margin-top: 212px;
        margin-right: -20px;
        height: 48px;
        width: 48px;
    }
    .about-page .monitor-carousel .monitor .light-4 {
        float: left;
        margin-top: 212px;
        margin-right: -20px;
        height: 48px;
        width: 48px;
    }
    .about-page .monitor-carousel .monitor .light-5 {
        float: left;
        margin-top: 212px;
        margin-right: 11px;
        height: 48px;
        width: 48px;
    }
}